@model MVC_CityLab.CashReceiveDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CashReceiveDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvestigationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvestigationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VoucherNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
