@model MVC_CityLab.Investigations

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Investigations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SLNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
